<html>
	<head>
		<title>Upload Page</title>
		<link rel="stylesheet" href="../static/styles.css">
	</head>
	<body>
		<h1 class="notwelcomepage">Income Per Year Prediction</h1>
		<div class="notwelcomepageteam_name"><a href="credits">by Markingat Team</a></div>
		<div class="home"><a href="/">Home</a></div>
		<form action="upload" enctype="multipart/form-data" method="POST">
			<div class="upload">Upload text file</div>
		  	<input type="file" name="file" accept="text/*">
		 	<input type="submit" value="Submit">
		</form>
	</body>
</html>